/* Style the sidebar - fixed full height */
#side-nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #cadcff; */
    background-color: #16182A;
    overflow-x: hidden;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Style sidebar links */
#side-nav a {
    padding: 10px 0 10px 25px;
    text-decoration: none;
    font-size: 1.2em;
    color: #e1e1e1;
    display: block;
}
  
/* Style links on mouse-over */
#side-nav a:hover {
    color: #646cff;
}

#logout{
    display: flex;
    align-self: center;
    margin-top: 150px;
    /* background-color: #646cff; */
    /* background-color: #151dbb; */
}

#logout button{
    display: flex;
    align-self: center;
    margin-top: 150px;
    /* background-color: #646cff; */
    border: 2px solid #646cff;
}

#logout button:hover{
    background-color: #646cff;
}

#side-nav .logo{
    padding: 5px;
    align-self: center;
    margin-bottom: 130px;
}



