/* Style the sidebar - fixed full height */
#side-nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #cadcff; */
    background-color: #16182A;
    overflow-x: hidden;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Style sidebar links */
#side-nav a {
    padding: 10px 0 10px 25px;
    text-decoration: none;
    font-size: 1.2em;
    color: #e1e1e1;
    display: block;
}
  
/* Style links on mouse-over */
#side-nav a:hover {
    color: #ffffff;
}

#logout{
    align-self: center;
    margin-top: 250px;
}

/* Style the main content */
.main {
    margin-top: 150px;
    margin-left: 300px; /* Same as the width of the sidenav */
    padding: 0px 20px;
}

.inline{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.table{
    /* border: 2px solid black; */
    margin: 10px 0px;
    max-width: 1100px;
}
.head{
    background-color: #dbdfff;
}
.head th{
    min-width: 100px;
    height: 50px;
    padding: 5px 10px;
}
.list td{
    background-color: #f4f5ff;
    padding: 5px 10px;
}

/* .block-reason-col{
    max-width: ;
} */

.actions-col{
    display: flex;
    align-items: center;
    gap: 5px;
}

#logo a{
    padding: 5px;
    align-self: center;
    margin-bottom: 130px;
}

.bi{
    padding-right: 15px;
}