
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #151dbb;
	/* text-decoration: inherit; */
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	background-color: #fafafa;
	/* display: flex; */
	/* place-items: center;
	min-width: 320px;
	min-height: 100vh; */
}

h1 {
	font-size: 1.8em;
	line-height: 1.2;
}

h2{
	font-size: 1.6em;
	font-weight: 800;
	text-transform: uppercase;
}


button {
	/* font-family: DM Sans, sans-serif; */
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #16182A;
	color: rgb(241, 241, 241);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}

button:focus, button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* main for dashboards */
.main {
	/* margin-top: 100px; */
	margin-top: 40px;
	margin-left: 300px; /* Same as the width of the sidenav */
	padding: 0px 20px;
}

.bi{
	padding-right: 8px;
}

#main{
	margin: 50px 100px;
	min-height: 600px;
}

.btn-container {
	width: 100%;
}

.btn{
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.8em 1.5em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #16182A;
	color: rgb(241, 241, 241);
	cursor: pointer;
	transition: border-color 0.25s;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 10px;
}


.customization-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

}
.customization-text{
	max-width: 85%;
}

.customization-text h2{
	margin: 0;
	font-size: 1.4em;
}

.dashboard-header-one{
	text-align: center;
	font-weight: 800;
	margin-bottom: 50px;
}

.profile-btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 50px 40px 0;
	text-decoration: none;
	color: #16182A;
}

.profile-btn p{
	margin: 0;
}

.admin-profile-btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 0 40px 0;
	text-decoration: none;
	color: #16182A;
}

.admin-profile-btn p{
	margin: 0;
}

.bi-person-circle{
	padding-right: 12px;
}

#logout{
	display: flex;
	align-self: center;
	/* background-color: #646cff; */
	/* background-color: #151dbb; */
}

#logout button{
	display: flex;
	align-self: center;
	/* background-color: #646cff; */
	border: 2px solid #646cff;
}

#logout button:hover{
	background-color: #646cff;
}

.not-found{
	background-image: url("../public/404.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; /* or use 'cover' if you want the image to cover the entire container */
	width: 100vw;
	height: 100vh; /* Full viewport height */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative; 
}
.not-found h1{
	color: white;
	font-size: 6em;
	font-weight: 800;
	position: relative;
	z-index: 2;
	margin: 0 60px;
}
.not-found h2{
	color: white;
	font-size: 4em;
	margin: 0 60px;
	position: relative;
	z-index: 2;
}

.not-found p{
	color: white;
	font-size: 1.5em;
	margin: 0 60px;
	position: relative;
	z-index: 2;
}

.not-found::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
	z-index: 1;
}

@media (max-width: 1300px) {
	.profile-img-container{
		display: flex;
		width: 400px;
	}
	.profile-img-container img{
		/* width: auto; */
		align-self: center;
	}

	.profile-info h1{
		font-size: 1.5em;
	}
	.profile-info h2{
		font-size: 1em;
	}
	.profile-info p{
		font-size: 0.9em;
	}
	.profile-info a{
		font-size: 0.9em;
	}
	

}


@media (max-width: 1100px) {
	#main{
		margin: 50px 50px;
	}
	#messenger{
		min-width: 230px;
		position: absolute;
		top: 30px;
		left: -30px;
		padding-left: 20px;
	
	}
	.become-provider-instructions{
		margin-top: 20px;
		padding: 50px 0px 0 30px;
		justify-content: space-between;
		gap: 20px;
	}

	.steps h3{
		font-size: 1.1em;
	}
	.steps p{
		font-size: 0.9em;
		max-width: 500px;
	}

	.steps{

		margin-left: 30px;

	}
	#become-provider .img-container {
		max-width: 400px;
		min-width: 320px;
	}

	#become-provider {
		margin-top: 100px;
	}
	/* HEADER */
	.nav{
		padding: 20px 50px;
	}
	.nav-list{
		gap: 0px; 
	}

	.nav-list a{
		font-size: 0.9em;
	}
	.logo img{
		width: 180px;
	}

	.provider-access-link{
		margin-right: 8px;
	}

	#logout button{
		font-size: 0.9em;
	}

	.contact-form-text{
		max-width: 300px;
		/* font-size: 1em; */
	}

	.title{
		font-size: 2em;
		padding: 0px 50px 0 50px;
	}
	#home-screen p{
		font-size: 1.1em;
		/* max-width: 350px; */
		padding: 0px 50px 0 50px;
	}
	.dropdown .btn-dropdown {
		padding: 10px 12px;
		font-size: 0.9em;
	}

	.profile-img-container{
		display: flex;
		width: 300px;
	}
}



/* tablet format with collapsed menu */

@media (max-width: 900px) {

	.step{
		padding: 15px 10px 10px 15px;
	}
	.steps h3{
		font-size: 1em;
	}
	.steps p{
		font-size: 0.8em;
		max-width: 500px;
	}

  	.steps{

		margin-left: 20px;

	}
	.become-provider-instructions{
		margin-top: 0;
		gap: 10px;
	}

	.contact-form-text{
		max-width: 60%;
		text-align: center;
	}
	.contact-form-email{
		justify-content: center;
	}

	/* HEADER */
	/* Display menu toggle button */
	.menu-toggle {
		display: block;
		background: none;
		border: none;
		cursor: pointer;
	}

	/* Styling for the bars (burger menu) */
	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px;
		background-color: white;
		transition: 0.3s;
	}

	/* Rotate the bars when the menu is open */
	.menu-toggle.open .bar:nth-child(1) {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.menu-toggle.open .bar:nth-child(2) {
		opacity: 0;
	}

	.menu-toggle.open .bar:nth-child(3) {
		transform: rotate(45deg) translate(-5px, -6px);
	}

	/* Hide the nav list by default on mobile screens */
	.nav-list {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 80px;
		right: 0;
		width: 100%;
		background-color: #16182A;
		padding: 10px;
		z-index: 1000;
	}

	/* Show the nav list when the menu is toggled */
	.nav-list.show {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	/* Ensure nav links are centered and stacked vertically */
	.nav-list a {
		text-align: center;
		padding: 10px 0;
		width: 100%;
		color: white;
	}

	.dropdown-content {
		position: relative;
		top: 100%;
		background-color: #271e4ebc;
		min-width: 100%;
		box-shadow: none;
	}

	.dropdown-content a {
		/* padding: 10px; */
		color: white;
	}

	.dropdown-content a:hover {
		color: rgb(0, 0, 0);
	}
	.dropdown-content a:focus {
		color: rgb(0, 0, 0);
	}
	.dropdown-content.show {
        display: block;
    }

	.btn-dropdown {
		color: white;
		background-color: inherit;
		font-family: inherit;
		border: none;
		cursor: pointer;
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
	}

	.provider-access-link a{
		text-decoration: none;
	}

	.nav-list .btn-light{
		background-color: rgba(0, 0, 0, 0);
	}
	#logout {
		align-self: center;
	}
	#logout button{
		border: none;
	}
	.nav-item a:hover{
		color:#535bf2;
	}

	.nav-list.show{
		padding-bottom: 20px;
	}

	.profile{
		flex-direction: column;
		margin-top: 50px;
	}

	.profile-img-container{
		width: 100%;
	}

	.profile-img-container img{
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.profile-info{
		width: auto;
		border-radius: 0 0 10px 10px;
	}

	.contact-info{
		justify-content: space-between ;
		gap: 10px;
	}

	.service-cards{
		justify-content: center;
	}





}


@media (max-width: 790px) { 

	#categories .img-container{
		max-width: 70%;
	}
	.category{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.verified{
		font-size: 1em;
	}
	.badge{
		padding: 4px 8px;
	}


}

@media (max-width: 550px) { 

	.contact-info{
		flex-direction: column;
		margin: 20px 0 30px;
	}

	.profile-phone, .profile-email{
		margin: 0px;
	}

	.verified{
		font-size: 0.9em;
	}
}