#categories{
    margin: 50px 0px;
}

.categories{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-flow: row;
    margin: 60px 0;
}

#categories p{
    font-weight: 600;
}

#categories h2{
    margin-bottom: 0;
}
.category h3{
    text-align: center;
}

#categories img{
    width: 100%;
    border-radius: 10px;
    transition: border 0.15s;
}

#categories img:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    /* border: 2px solid #646cff; */
    transition: 1s;
}

#categories .img-container{
    max-width: 340px;

}

.img-container{
    max-width: 240px;

}

#categories a{
    color:black;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .categories{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-flow: row wrap;
    
    }
}