#become-provider{
    margin: 150px 0px;
}

#become-provider .img-container {
    max-width: 330px;
}

#become-provider img{
    width: 100%;
    border-radius: 10px;
}

.become-provider-instructions{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 50px 0;
    padding: 50px 0;
    position: relative;
}

#messenger{
    width: 25%;
    position: absolute;
    top: 0px;
    left: 0px;

}

#messenger img{
    border-radius: 0;
}

.demo-provider p{
    max-width: 300px;
}

.step{
    display: flex;
    align-items: center;
    margin: 40px 0;
    gap: 40px;
}

.step p{
    font-weight: 600;
    max-width: 200px;
}

#become-provider svg{
    background-color: #5C748C;
    color:white;
    padding: 30px;
    border-radius: 10px;
}

/* #16182A */

