#register{
    text-align: center;
    margin: 80px auto;
    background-color: #dfe3ff;
    background-color: #d9e8ff;
    border-radius: 10px;
    padding: 50px 160px;
    width: 400px;
}

#register input[type="text"], input[type="password"], input[type="email"]{
    min-width: 180px;
    max-width: 300px;
    padding: 15px 20px;
    border: 1px solid #16182A;
    border-radius: 5px;
    margin: 10px 0;
}

#register .PhoneInputInput{
    padding: 15px 20px;
    border: 1px solid #16182A;
    border-radius: 5px;
}

.form{
    margin: 40px 0 0;
}

input::placeholder{
    font-size: 1.1em;
    color:#777989;
}
.input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#register .btn-radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    gap: 10px;
}

#register button{
    margin: 30px 0;
}

/* .logo{
    margin: 0 0 40px 0;
} */